html {
    min-height: 200%; /** need some space to actually scroll **/
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo-container {
    position: fixed;
    left: 0;
    padding-top: 15vmin;
    padding-left: 7vmin;
    width: 100%;
    background: white;
}

#logo {
    position: fixed;
    width: 30vmin;
    height: 30vmin;
}

#logo-font {
    position: relative;
    top: 9vmin;
    font-size: 8vmin;
    font-weight: 300;
    margin-left: 33vmin;
    vertical-align: baseline;
}

#logo-font h1 {
    font-size: 15vmin;
    font-weight: 700;
    line-height: 5vmin;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 7vmin;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 4vmin;
    font-weight: 300;
}

footer h2 {
    font-weight: 700;
    font-size: 4vmin;
}

a:link {
    color: #580058;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}